In [5]:
import pandas as pd
import numpy as np

diabetes = pd.read_csv('data/diabetes_data.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,98,58,33,190,34.0,0.430,43,0,Female
1,2,112,75,32,0,35.7,0.148,21,0,Female
2,2,108,64,0,0,30.8,0.158,21,0,Female
3,8,107,80,0,0,24.6,0.856,34,0,Female
4,7,136,90,0,0,29.9,0.210,50,0,Female

# 8.1: Найдите все повторяющиеся строки в данных и удалите их. Для поиска используйте все признаки в данных. Сколько записей осталось в данных?

In [6]:
dupl_columns = list(diabetes.columns)
mask = diabetes.duplicated(subset=dupl_columns)
diabetes_dupl = diabetes[mask]
print(f'Число найденных дубликатов: {diabetes.shape[0] - diabetes_dupl.shape[0]}')
diabetes_dedupped = diabetes.drop_duplicates(subset=diabetes_dupl)
print(f'Результирующее число записей: {diabetes_dedupped.shape[0]}')

Число найденных дубликатов: 768
Результирующее число записей: 768

# Найдите все неинформативные признаки в данных и избавьтесь от них. В качестве порога информативности возьмите 0.95: удалите все признаки, для которых 95 % значений повторяются или 95 % записей уникальны. В ответ запишите имена признаков, которые вы нашли (без кавычек).

In [8]:
low_info_cols = []

for col in diabetes_dedupped.columns:
    top_freq = diabetes_dedupped[col].value_counts(normalize=True).max()
    nunique_ratio = diabetes_dedupped[col].nunique()/diabetes_dedupped[col].count()
    if top_freq > 0.95:
        low_info_cols.append(col)
        print(f'{col}: {round(top_freq*100, 2)}% одинаковых значений')
    if nunique_ratio > 0.95:
        low_info_cols.append(col)
        print(f'{col}: {round(top_freq*100, 2)}% уникальных значений')
        
info_diabetes = diabetes_dedupped.drop(low_info_cols, axis=1)
info_diabetes.head()

Gender: 100.0% одинаковых значений

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0

In [15]:
info_diabetes.loc[info_diabetes['Insulin'] ==0, 'Insulin'] = pd.NA
info_diabetes.loc[info_diabetes['Glucose'] ==0, 'Glucose'] = pd.NA
info_diabetes.loc[info_diabetes['BloodPressure'] ==0, 'BloodPressure'] = pd.NA
info_diabetes.loc[info_diabetes['BMI'] ==0, 'BMI'] = pd.NA
info_diabetes.loc[info_diabetes['SkinThickness'] ==0, 'SkinThickness'] = pd.NA
info_diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98.0,58.0,33.0,190.0,34.0,0.430,43,0
1,2,112.0,75.0,32.0,NaN,35.7,0.148,21,0
2,2,108.0,64.0,NaN,NaN,30.8,0.158,21,0
3,8,107.0,80.0,NaN,NaN,24.6,0.856,34,0
4,7,136.0,90.0,NaN,NaN,29.9,0.210,50,0

In [17]:
cols_null_percent = info_diabetes.isnull().mean()*100
cols_with_null = cols_null_percent[cols_null_percent>0].sort_values(ascending=False)
display(cols_with_null)

Insulin          48.697917
SkinThickness    29.557292
BloodPressure     4.557292
BMI               1.432292
Glucose           0.651042
dtype: float64

In [ ]:
#задаем минимальный порог: вычисляем 70% от числа строк
thresh84 = info_diabetes.shape[0]*0.7
print(n)
#удаляем столбцы, в которых более 30% (100-70) пропусков
info_diabetes = drop_data.dropna(thresh=thresh84, axis=1)
info_diabetes.head()

537.5999999999999

,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98.0,58.0,33.0,34.0,0.430,43,0
1,2,112.0,75.0,32.0,35.7,0.148,21,0
2,2,108.0,64.0,NaN,30.8,0.158,21,0
3,8,107.0,80.0,NaN,24.6,0.856,34,0
4,7,136.0,90.0,NaN,29.9,0.210,50,0

In [58]:
thresh85 = info_diabetes.shape[1]
diabetes = info_diabetes.dropna(thresh=thresh85-2, axis=0)
print(diabetes.shape[0])

761

In [60]:
values86 = {
    'Pregnancies': info_diabetes['Pregnancies'].median(),
    'Glucose': info_diabetes['Glucose'].median(),
    'BloodPressure': info_diabetes['BloodPressure'].median(),
    'SkinThickness': info_diabetes['SkinThickness'].median(),
    'BMI': info_diabetes['BMI'].median(),
    'DiabetesPedigreeFunction': info_diabetes['DiabetesPedigreeFunction'].median(),
    'Age': info_diabetes['Age'].median(),
    'Outcome': info_diabetes['Outcome'].median(),
}
info_diabetes = info_diabetes.fillna(values86)
info_diabetes['SkinThickness'].mean()

np.float64(29.108072916666668)

## 8.7 Сколько выбросов найдёт классический метод межквартильного размаха в признаке SkinThickness?

In [61]:
def outliers_iqr(data, feature):
    x = data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * 1.5)
    upper_bound = quartile_3 + (iqr * 1.5)
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

outliers, cleaned = outliers_iqr(info_diabetes, 'SkinThickness')
print(f'Число выбросов по методу Тьюки: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

Число выбросов по методу Тьюки: 87
Результирующее число записей: 681

## 8.8 Сколько выбросов найдёт классический метод z-отклонения в признаке SkinThickness?

In [63]:
def outliers_z_score(data, feature, log_scale=False):
    if log_scale:
        x = np.log(data[feature]+1)
    else:
        x = data[feature]
    mu = x.mean()
    sigma = x.std()
    lower_bound = mu - 3 * sigma
    upper_bound = mu + 3 * sigma
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

outliers, cleaned = outliers_z_score(info_diabetes, 'SkinThickness', log_scale=False)
print(f'Число выбросов по методу z-отклонения: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

Число выбросов по методу z-отклонения: 4
Результирующее число записей: 764

## 8.9 На приведённой гистограмме показано распределение признака DiabetesPedigreeFunction. Такой вид распределения очень похож на логнормальный, и он заставляет задуматься о логарифмировании признака. Найдите сначала число выбросов в признаке DiabetesPedigreeFunction с помощью классического метода межквартильного размаха.
## Затем найдите число выбросов в этом же признаке в логарифмическом масштабе (при логарифмировании единицу прибавлять не нужно!). Какова разница между двумя этими числами (вычтите из первого второе)?

In [67]:
def outliers_iqr_mod(data, feature, left=1.5, right=1.5, log_scale=False):
    if log_scale:
        x = np.log(data[feature])
    else:
        x= data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * left)
    upper_bound = quartile_3 + (iqr * right)
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned
outliers, _ = outliers_iqr_mod(info_diabetes, 'DiabetesPedigreeFunction')
outliers_log, _ = outliers_iqr_mod(info_diabetes, 'DiabetesPedigreeFunction', log_scale=True)
print(outliers.shape[0] - outliers_log.shape[0])

29